.nav-menu {
  padding: 10px;
  background-color: rgb(14, 14, 13);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.nav-menu-item {
  display: block;
  font-weight: 600;
  font-size: 20;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
